@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("https://wallpaperaccess.com/full/109332.jpg");
    background-size: cover;

}

.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container .card{
    position: relative;
    width: 200px;
    height: 350px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    backdrop-filter: blur(10px);
    
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .contentBox h3{
    color:black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 1000;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBox h3 span{
    font-size: 12px;
    font-weight: 400;
    text-transform: initial;
}

.header{
    align-items: center;
    text-align: center;
    color:black;
    font-size: 50px;
    font-weight: 600;
}
.Pokedex-Card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}